<!-- Encabezado -->
<div id="main">
  <nav class="navbar navbar-expand-lg navbar-light fondo-naranja">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">ISRI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <p>Valladolid</p>
      </div>

    </div>
  </nav>
</div>
<!--Sidenav-->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value" class="barra">
    <button class="cerrar" mat-button mat-icon-buttom (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>


    <mat-accordion>
      <!--Panel Usuarios-->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="texto">
            <mat-icon>account_box</mat-icon>
            <span>Personal</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="texto">
          <!--Encargados-->
          <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/encargados']">
            <mat-icon>list_alt</mat-icon>
            <span>Ver Encargados</span>
          </button>
          <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/encargados/nuevo']">
            <mat-icon>list_alt</mat-icon>
            <span>Añadir Encargados</span>
          </button>
          <hr>
          <!--Trabajadores-->
          <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/trab']">
            <mat-icon>list_alt</mat-icon>
            <span>Ver Trabajadores</span>
          </button>
          <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/trab/nuevo']">
            <mat-icon>list_alt</mat-icon>
            <span>Añadir Trabajadores</span>
          </button>
          
            
        </div>
      </mat-expansion-panel>

      <!--Panel Clientes-->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="texto">
            <mat-icon>account_circle</mat-icon>
            <span>Reparto</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="texto">

         <!--Puestos-->
         <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/puestos']">
          <mat-icon>list_alt</mat-icon>
          <span>Ver Puestos</span>
        </button>
        <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/puestos/nuevo']">
          <mat-icon>list_alt</mat-icon>
          <span>Añadir Puestos</span>
        </button>
        <hr>
        <!--Experiencia-->
        <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/experiencia/']">
          <mat-icon>list_alt</mat-icon>
          <span>Ver Experiencia</span>
        </button>
        <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/experiencia/nuevo']">
          <mat-icon>list_alt</mat-icon>
          <span>Añadir Experiencia</span>
        </button>
        <hr>
        <!--Indice incidencias-->
        <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/indiceinc/']">
          <mat-icon>list_alt</mat-icon>
          <span>Ver índ. incidencias</span>
        </button>
        <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/indiceinc/nuevo']">
          <mat-icon>list_alt</mat-icon>
          <span>Añadir índ. incidencias</span>
        </button>
        <hr>
        <!--Incidencias-->
        <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/incidencias/']">
          <mat-icon>list_alt</mat-icon>
          <span>Ver Incidencias</span>
        </button>
        <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/incidencias/nuevo']">
          <mat-icon>list_alt</mat-icon>
          <span>Añadir Incidencias</span>
        </button>


        </div>
      </mat-expansion-panel>

      <!--Panel Proyectos-->
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="texto">
            <mat-icon>widgets</mat-icon>
            <span>Trabajo</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="texto">

          <!--Planificación-->
          <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/planificacion/']">
            <mat-icon>list_alt</mat-icon>
            <span>Ver Planificación</span>
          </button>
          <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/planificacion/nuevo']">
            <mat-icon>list_alt</mat-icon>
            <span>Añadir Planificación</span>
          </button>
          <hr>
          <!--Registros-->
          <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/registros/']">
            <mat-icon>list_alt</mat-icon>
            <span>Ver Registros</span>
          </button>
          <button mat-raised-button class="botonesMatRaised" [routerLink]="['/tabla/registros/nuevo']">
            <mat-icon>list_alt</mat-icon>
            <span>Añadir Registros</span>
          </button>
          
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{imagen: imagen == true}" style=" height: 95vh;">

    <div class="titulo">
      <button mat-icon-button color="primary" style="float: left" (click)="sidenav.toggle()">
        <mat-icon>navigate_next</mat-icon>
      </button>

    </div>
    <div class="ml-3 mr-3">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>