<h3>Encargados</h3>
<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- id_alfabetico Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
      </ng-container>
  
      <!-- nombre Column 
      <ng-container matColumnDef="turno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Turno </th>
        <td mat-cell *matCellDef="let row"> {{row.turno}} </td>
      </ng-container>-->
  
      <!-- encargado Column -->
      <ng-container matColumnDef="id_alfabetico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID alfabético </th>
        <td mat-cell *matCellDef="let row"> {{row.id_alfabetico}} </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let encargados" style="text-align: center">
            <a [routerLink]="['/tabla/encargados/editar/', encargados.id_encargado]">
                <button class="btn btn-warning">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </a>
        </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let encargados" style="text-align: center">
            <button class="btn btn-danger" (click)="deleteEncargado(encargados.id_encargado)">
                <i class="far fa-trash-alt"></i>
            </button>
        </td>
    </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encuentra el dato con el filtro "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
  