<div class="row">
    <div class="col-md-4 offset-md-4">
        <h3>Insertar incidencia</h3>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha</mat-label>
                            <input [(ngModel)]="incidencia.fecha" [ngModelOptions]="{standalone: true}"
                                (dateChange)="cambioFecha()" matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Trabajador</mat-label>
                            <select matNativeControl required [(ngModel)]="incidencia.id_trabajador"
                                [ngModelOptions]="{standalone: true}">
                                <option value="null" disabled selected></option>
                                <option *ngFor="let trabajador of trabajadores" [value]="trabajador.id_trabajador">
                                    {{trabajador.nombre}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Puesto</mat-label>
                            <select matNativeControl required [(ngModel)]="incidencia.id_puesto"
                                [ngModelOptions]="{standalone: true}">
                                <option value="null" disabled selected></option>
                                <option *ngFor="let puesto of puestos" [value]="puesto.id_puesto">
                                    {{puesto.nombre}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Índice</mat-label>
                            <select matNativeControl required [(ngModel)]="incidencia.indice"
                                [ngModelOptions]="{standalone: true}">
                                <option value="null" disabled selected></option>
                                <option *ngFor="let indiceinc of indiceincs" [value]="indiceinc.id_indice">
                                    {{indiceinc.nombre_incidencia}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="tiempo"
                            [(ngModel)]="incidencia.tiempo" placeholder="Tiempo" class="form-control">
                        <br>
                    </div>
                    <div class="form-grup">
                        <input type="text" name="descripcion" [(ngModel)]="incidencia.descripcion"
                            placeholder="Descripción" class="form-control">
                    </div>
                    <br>
                    <button class="btn btn-success btn-block"
                        (click)="edit ? updateIncidencias() : guardarIncidencias()">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col md-4">
    <div class="card card-body text-center">
        <h3>{{incidencia.id_trabajador == null ? 'Incidencia' : incidencia.id_trabajador}} </h3>
        <p>{{incidencia.id_puesto}}</p>
        <p>{{incidencia.fecha}}</p>
        <p>{{incidencia.indice}}</p>
        <p>{{incidencia.tiempo}}</p>
        <p>{{incidencia.descripcion}}</p>
    </div>
</div>