<!--TARJETAS-->
<!--
<div class="col-md-4" *ngFor="let incidencia of incidencias">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{incidencia.id_trabajador}}
            <button class="btn btn-danger" (click)="deleteIncidencias(incidencia.id_incidencia)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <div class="card-body">
            <p>Puesto: {{incidencia.id_puesto}}</p>
            <p>Fecha: {{incidencia.fecha}}</p>
            <p>Tiempo: {{incidencia.tiempo}}</p>
            <p>Descripción: {{incidencia.descripcion}}</p>
            <a [routerLink]="['/tabla/incidencias/editar/', incidencia.id_incidencia]" class="btn btn-info btn-block">
                Editar incidencia
            </a>
        </div>
    </div>

</div>
-->

<!--TABLA-->

<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input>
</mat-form-field>

<div class="container">
    <h6>incidencias</h6>
    <table mat-table [dataSource]="incidencias"  class="mat-elevation-z8" >


        <!-- Description Column -->
        <ng-container matColumnDef="trabajador">
            <th mat-header-cell *matHeaderCellDef> Trabajador </th>
            <td mat-cell *matCellDef="let incidencias"> {{incidencias.trabajador}} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="puesto">
            <th mat-header-cell *matHeaderCellDef> Puesto </th>
            <td mat-cell *matCellDef="let incidencias"> {{incidencias.puesto}} </td>
        </ng-container>

        <!-- turno Column -->
        <ng-container matColumnDef="fecha" >
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let incidencias" > {{incidencias.fecha}} </td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="indice" >
            <th mat-header-cell *matHeaderCellDef> Índice </th>
            <td mat-cell *matCellDef="let incidencias"> {{incidencias.indice}} </td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="tiempo" >
            <th mat-header-cell *matHeaderCellDef> Tiempo </th>
            <td mat-cell *matCellDef="let incidencias"> {{incidencias.tiempo}} </td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="descripcion" >
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let incidencias"> {{incidencias.descripcion}} </td>
        </ng-container>


        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let incidencias" style="text-align: center">
                <a [routerLink]="['/tabla/incidencias/editar/', incidencias.id_incidencia]">
                    <button>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="borrar">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let incidencias" style="text-align: center">
                <button class="btn btn-danger" (click)="deleteIncidencias(incidencias.id_incidencia)">
                    <i class="far fa-trash-alt"></i>
                </button>
            </td>
        </ng-container>
 

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
</div>

