<div class="row">
    <div class="col-md-4 offset-md-4">
        <h3>Insertar experiencia</h3>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Trabajador</mat-label>
                            <select matNativeControl required [(ngModel)]="experiencia.id_trabajador"
                                [ngModelOptions]="{standalone: true}">
                                <option value="null" disabled selected></option>
                                <option *ngFor="let trabajador of trabajadores" [value]="trabajador.id_trabajador">
                                    {{trabajador.nombre}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Puesto</mat-label>
                            <select matNativeControl required [(ngModel)]="experiencia.id_puesto"
                                [ngModelOptions]="{standalone: true}">
                                <option value="null" disabled selected></option>
                                <option *ngFor="let puesto of puestos" [value]="puesto.id_puesto">
                                    {{puesto.nombre}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Disponible</mat-label>
                            <select matNativeControl required [(ngModel)]="experiencia.disponible"
                                [ngModelOptions]="{standalone: true}">
                                <option value="null" disabled selected></option>
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="form-grup">
                            <mat-form-field appearance="fill">
                                <mat-label>Experiencia</mat-label>
                                <select matNativeControl required [(ngModel)]="experiencia.experiencia"
                                    [ngModelOptions]="{standalone: true}">
                                    <option value="null" disabled selected></option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </mat-form-field>
                    </div>
                    <button class="btn btn-success btn-block"
                        (click)="edit ? updateExperiencia() : guardarExperiencia()">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col md-4">
    <div class="card card-body text-center">
        <h3>{{experiencia.id_trabajador == null ? 'Trabajador' : experiencia.id_trabajador}} </h3>
        <p>{{experiencia.id_puesto}}</p>
        <p>{{experiencia.disponible}}</p>
        <p>{{experiencia.experiencia}}</p>
    </div>
</div>