<div class="row">
    <div class="col-md-4 offset-md-4">
        <h3>Insertar puesto</h3>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-grup">
                        <input type="text" name="nombre" [(ngModel)]="puesto.nombre" placeholder="Nombre"
                            class="form-control" autofocus>
                    </div>
                    <br>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="tiempo"
                            [(ngModel)]="puesto.tiempo" placeholder="Tiempo (seg)" class="form-control">
                    </div>
                    <br>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Grupo</mat-label>
                            <select matNativeControl required [(ngModel)]="puesto.grupo"
                                [ngModelOptions]="{standalone: true}">
                                <option value="null" disabled selected></option>
                                <option *ngFor="let grupo of grupos" [value]="grupo.id_grupo">
                                    {{grupo.nombre}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <button class="btn btn-success btn-block" (click)="edit ? updatePuesto() : guardarPuesto()">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col md-4">
    <div class="card card-body text-center">
        <h3>{{puesto.nombre == '' ? 'Puesto' : puesto.nombre}} </h3>
        <p>{{puesto.tiempo}}</p>
        <p>{{puesto.grupo}}</p>
    </div>
</div>