<div class="row">
    <div class="col-md-4 offset-md-4">
        <h3>Insertar trabajador</h3>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-grup">
                        <input type="text" name="nombre" [(ngModel)]="trabajador.nombre" placeholder="Nombre"
                            class="form-control" autofocus>
                    </div>
                    <br>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Turno</mat-label>
                            <select matNativeControl required [(ngModel)]="trabajador.turno"
                                [ngModelOptions]="{standalone: true}">
                                <option value="null" disabled selected></option>
                                <option *ngFor="let encargado of encargados" [value]="encargado.id_encargado">
                                    {{encargado.nombre}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="form-grup">
                        <input type="text" name="id_alfabetico" [(ngModel)]="trabajador.id_alfabetico"
                            placeholder="ID alfabético" class="form-control">
                    </div>
                    <br>
                    <button class="btn btn-success btn-block" (click)="edit ? updateTrabajador() : guardarTrabajador()">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col md-4">
    <div class="card card-body text-center">
        <h3>{{trabajador.nombre == '' ? 'Trabajador' : trabajador.nombre}} </h3>
        <p>{{trabajador.turno}}</p>
        <p>{{trabajador.id_alfabetico}}</p>
    </div>
</div>