<div class="row pt-5">
  <div class="col-md-4 offset-md-4">
    <h3>Insertar encargado</h3>
    <div class="card">
      <div class="card-body">

        <form>
          <div class="form-grup">
            <input type="text" name="nombre" [(ngModel)]="encargado.nombre" placeholder="Nombre" class="form-control"
              autofocus>
          </div>
          <br>
          <div class="form-grup">
            <input type="text" name="id_alfabetico" [(ngModel)]="encargado.id_alfabetico" placeholder="ID alfabético"
              class="form-control">
          </div>
          <br>
          <button class="btn btn-success btn-block" (click)="edit ? updateEncargado() : guardarEncargado()">
            <!-- Si edit es true (?) ejecuta updateEncargado, si está en false (:) ejecuta guardar Encargado-->
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="col md-4">
  <div class="card card-body text-center">
    <h3>{{encargado.nombre == '' ? 'Encargado' : encargado.nombre}} </h3>
    <p>{{encargado.turno}}</p>
    <p>{{encargado.id_alfabetico}}</p>
  </div>
</div>