<!--<p>¡Formulario!</p>
<p class="h6">formulario.component.html</p>-->

<div class="row">  
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-grup">
                        <input type="text" name="nombre" [(ngModel)]="encargado.nombre" placeholder="Nombre" class="form-control" autofocus>
                    </div>
                    <div class="form-grup">
                        <!--<select type="number" name="turno" [(ngModel)]="encargado.turno" placeholder="Turno" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>--> <!--Funciona-->
                        <mat-form-field appearance="fill">
                        <mat-label>Turno</mat-label>
                        <select matNativeControl required>
                          <option value="1">Aitor</option>
                          <option value="2">Víctor</option>
                        </select>
                        </mat-form-field> <!--No funciona-->
                    </div>
                    <div class="form-grup">
                        <input type="text" name="id_alfabetico" [(ngModel)]="encargado.id_alfabetico" placeholder="ID alfabético" class="form-control">
                    </div>
                    <!--<div class="form-grup">
                        <textarea name="descripcion" placeholder="Prueba, para descripcion por ejemplo" cols="37" rows="4"></textarea>
                    </div>-->
                    <button class = "btn btn-success btn-block" (click)="edit ? updateEncargado() : guardarEncargado()"> <!-- Si edit es true (?) ejecuta updateEncargado, si está en false (:) ejecuta guardar Encargado-->
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col md-4">
    <div class="card card-body text-center">
        <h3>{{encargado.nombre == '' ? 'Encargado' : encargado.nombre}} </h3>
        <p>{{encargado.turno}}</p>
        <p>{{encargado.id_alfabetico}}</p>
    </div>
</div>

<!--
<mat-card>
    <form action="">
      <img
        width="80"
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
      <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Título" #title>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="ID del álbum" #albumId>
          <mat-option *ngFor="let id of encargado.turno" value ="id">
            {{encargado.turno}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="URL" #url>
      </mat-form-field>
      <button mat-button mat-flat-button color ="primary" style="display:block; width: 100%;">
        Guardar
      </button>
    </form>
  </mat-card>
-->