<div class="row">
    <div class="col-md-4 offset-md-4">
        <h3>Insertar registro</h3>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-grup">
                        <div class="form-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Fecha</mat-label>
                                <input [(ngModel)]="registro.fecha" [ngModelOptions]="{standalone: true}"
                                    (dateChange)="cambioFecha()" matInput [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Trabajador</mat-label>
                            <select matNativeControl required [(ngModel)]="registro.id_trabajador"
                                [ngModelOptions]="{standalone: true}">
                                <option value="null" disabled selected></option>
                                <option *ngFor="let trabajador of trabajadores" [value]="trabajador.id_trabajador">
                                    {{trabajador.nombre}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Puesto</mat-label>
                            <select matNativeControl required [(ngModel)]="registro.id_puesto"
                                [ngModelOptions]="{standalone: true}">
                                <option value="null" disabled selected></option>
                                <option *ngFor="let puesto of puestos" [value]="puesto.id_puesto">
                                    {{puesto.nombre}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="cantidad_total"
                            [(ngModel)]="registro.cantidad_total" placeholder="Cantidad total" class="form-control">
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="cantidad_realizada"
                            [(ngModel)]="registro.cantidad_realizada" placeholder="Cantidad realizada" class="form-control">
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="tiempo_total"
                            [(ngModel)]="registro.tiempo_total" placeholder="Tiempo total" class="form-control">
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="tiempo_empleado"
                            [(ngModel)]="registro.tiempo_empleado" placeholder="Tiempo empleado" class="form-control">
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="tiempo_disponible"
                            [(ngModel)]="registro.tiempo_disponible" placeholder="Tiempo disponible"
                            class="form-control">
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="tiempo_perdido"
                            [(ngModel)]="registro.tiempo_perdido" placeholder="Tiempo perdido" class="form-control">
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="produccion"
                            [(ngModel)]="registro.produccion" placeholder="Producción" class="form-control">
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="productividad"
                            [(ngModel)]="registro.productividad" placeholder="Productividad" class="form-control">
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="ritmo"
                            [(ngModel)]="registro.ritmo" placeholder="Ritmo" class="form-control">
                    </div>
                    <div class="form-grup">
                        <input type="number" min="0" oninput="validity.valid||(value='');" name="tiempo_restante"
                            [(ngModel)]="registro.tiempo_restante" placeholder="Tiempo restante" class="form-control">
                    </div>
                    <div class="form-grup">
                        <mat-form-field appearance="fill">
                            <mat-label>Cambio de turno</mat-label>
                            <select matNativeControl required [(ngModel)]="cambioTurno"
                                [ngModelOptions]="{standalone: true}" (change)="cambioDeTurno()">
                                <option value="null" disabled selected></option>
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </mat-form-field>
                    </div>

                    <button class="btn btn-success btn-block" (click)="edit ? updateRegistro() : guardarRegistro()">
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="col md-4">
    <div class="card card-body text-center">
        <h3>{{registro.id_trabajador == null ? 'Trabajador' : registro.id_trabajador}} </h3>
        <p>{{registro.fecha}}</p>
        <p>{{registro.id_puesto}}</p>
        <p>{{registro.cantidad_total}}</p>
        <p>{{registro.cantidad_realizada}}</p>
        <p>{{registro.tiempo_total}}</p>
        <p>{{registro.tiempo_empleado}}</p>
        <p>{{registro.tiempo_disponible}}</p>
        <p>{{registro.tiempo_perdido}}</p>
        <p>{{registro.produccion}}</p>
        <p>{{registro.productividad}}</p>
        <p>{{registro.ritmo}}</p>
        <p>{{registro.tiempo_restante}}</p>
        <p>{{registro.cambio_turno}}</p>

    </div>
</div>